extends ../templates/default
block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='#') Users
        li.breadcrumb-item.active Reporte
    H3.mt-5.text-center GENERAR REPORTE

    div.card.text-white.bg-info.col-md-8.offset-md-2.mt-5
        div.card-header REPORTE
        div.card-body
            h4.card-title PAGO DE: #{data2[0].Nombre}
            p.card-text Deuda : #{data[0].Deuda}
            p.card-text Fecha de Pago : #{data[0].FechaProximoPago}
            p.card-text Monto : $ #{data[0].Monto}
            p.card-text Meses :  #{data[0].Meses}
            p.card-text Intereses : #{data[0].Intereses} %
            p.card-text Pago de intereses : $ #{data[0].Pago}
            p.card-text Saldos Moratorios: $ #{data[0].SaldosInsolutos}

            div.form-row
                    div.form-group.col-md-6
                        label(for='deuda') Deuda
                                        
                        input#deuda.form-control(type='text' name="deuda" value="#{data[0].Deuda}" readonly)
                    
                    div.form-group.col-md-6
                        label(for='meses') Meses(2,4,6,8,12)
                                        
                        input#meses.form-control(type='text' name="meses" value="#{data[0].Meses}" readonly)

                    div.form-group.col-md-6
                        label(for='monto') Monto
                                        
                        input#monto.form-control(type='text' name="monto"  value="#{data[0].Monto}" readonly)

                    div.form-group.col-md-6
                        label(for='intereses') Interes
                                        
                        input#intereses.form-control(type='text' name="intereses" value="#{data[0].Intereses}" readonly)

                    div.form-group.col-md-6
                        label(for='pago') Pagos de Intereses
                                        
                        input#pago.form-control(type='text' name="pago"  value="#{data[0].Pago}" readonly)


                    div.form-group.col-md-6
                        label(for='saldosI') Saldo Insolutos
                                        
                        input#saldosI.form-control(type='text' name="saldosI"  value="#{data[0].SaldosInsolutos}" readonly)


        button.btn.btn-primary(type="button" id="enviar") VER DESGLOSE
        br
        br
        P.ml-5 TUS PAGOS PAGOS: 
        p#demo.ml-5.mt-2
        p#demo2.ml-5.mt-2
        p#demo3.ml-5.mt-2
        p#demo4.ml-5.mt-2
        p#demo5.ml-5.mt-2
        p#demo6.ml-5.mt-2
        p#demo7.ml-5.mt-2
        p#demo8.ml-5.mt-2
        p#demo9.ml-5.mt-2
        p#demo10.ml-5.mt-2
        p#demo11.ml-5.mt-2
        p#demo12.ml-5.mt-2
        p#demo13.ml-5.mt-2
        p#demo14.ml-5.mt-2
        
        script.
            document.getElementById('enviar').addEventListener("click", pulsar, false);

                             function pulsar(){
                                var valorT = document.getElementById("deuda").value;
                                var valorM = document.getElementById("meses").value;
                                var Pagos = Math.round(valorT / valorM);

                                var valorIn = document.getElementById("intereses").value;
                                var valorDeuda = document.getElementById("deuda").value;
                                var valorIntereses = valorIn * valorDeuda;

                                var totalD = document.getElementById("deuda").value;
                                var valorPagare = Pagos + valorIntereses;  

                                

                                var temp = Math.round(totalD - Pagos); //SALDO PENDIENTE
                                var segI = temp * valorIn; //INTERES 
                                var suma = segI +  Pagos; //SUMA PAGOS  +  INTERESES

                                var temp2 = Math.round(temp - Pagos);
                                var seg2I = temp2 * valorIn;
                                var suma2 = seg2I + Pagos;

                                var sumaFinal1 = valorIntereses + suma + suma2;

                                var temp3 = Math.round(temp2 - Pagos);
                                var seg3I = temp3 * valorIn;
                                var suma3 = seg3I + Pagos;

                                

                                var temp4 = Math.round(temp3 - Pagos);
                                var seg4I = temp4 * valorIn;
                                var suma4 = seg4I + Pagos;

                                var sumaFinal2 = valorIntereses + suma + suma2 + suma3 + suma4;

                                var temp5 = Math.round(temp4 - Pagos);
                                var seg5I = temp5 * valorIn;
                                var suma5 = seg5I + Pagos;

                                var temp6 = Math.round(temp5 - Pagos);
                                var seg6I = temp6 * valorIn;
                                var suma6 = seg6I + Pagos;

                                var sumaFinal3 = valorIntereses + suma + suma2 + suma3 + suma4 + suma5 + suma6;

                                var temp7 = Math.round(temp6 - Pagos);
                                var seg7I = temp7 * valorIn;
                                var suma7 = seg7I + Pagos;


                                var temp8 = Math.round(temp7 - Pagos);
                                var seg8I = temp8 * valorIn;
                                var suma8 = seg8I + Pagos;

                                var sumaFinal4 = valorIntereses + suma + suma2 + suma3 + suma4 + suma5 + suma6 + suma7 + suma8;

                                var temp9 = Math.round(temp8 - Pagos);
                                var seg9I = temp9 * valorIn;
                                var suma9 = seg9I + Pagos;



                                var temp10 = Math.round(temp9 - Pagos);
                                var seg10I = temp10 * valorIn;
                                var suma10 = seg10I + Pagos;

                                 var sumaFinal5 = valorIntereses + suma + suma2 + suma3 + suma4 + suma5 + suma6 + suma7 + suma8 + suma9 + suma10;

                                var temp11 = Math.round(temp10 - Pagos);
                                var seg11I = temp11 * valorIn;
                                var suma11 = seg11I + Pagos;

                                var temp12 = Math.round(temp11 - Pagos);
                                var seg12I = temp12 * valorIn;
                                var suma12 = seg12I + Pagos;

                                var sumaFinal6 = valorIntereses + suma + suma2 + suma3 + suma4 + suma5 + suma6 + suma7 + suma8 + suma9 + suma10 + suma11 + suma12;


                                if(valorM == 2){

                                document.getElementById("demo").innerHTML=  "AC:  " +Pagos;
                                document.getElementById("demo2").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  valorIntereses  + "    PAGO TOTAL : " + valorPagare+ " PENDIENTE " + temp;
                                document.getElementById("demo3").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  segI  + "    PAGO TOTAL : " + suma+ " PENDIENTE " + temp2;

                                document.getElementById("demo4").innerHTML = "";
                                document.getElementById("demo5").innerHTML = "";
                                document.getElementById("demo6").innerHTML = "";
                                document.getElementById("demo7").innerHTML = "";
                                document.getElementById("demo8").innerHTML = "";
                                document.getElementById("demo9").innerHTML = "";
                                document.getElementById("demo10").innerHTML = "";
                                document.getElementById("demo11").innerHTML = "";
                                document.getElementById("demo12").innerHTML = "";
                                document.getElementById("demo13").innerHTML = "";
                                document.getElementById('demo14').innerHTML = sumaFinal1;

                                }else{
                                    console.log("error");
                                }

                                if(valorM == 6){

                                document.getElementById("demo").innerHTML=  "AC:  " +Pagos;
                                document.getElementById("demo2").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  valorIntereses  + "    PAGO TOTAL : " + valorPagare+ " PENDIENTE " + temp;
                                document.getElementById("demo3").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  segI  + "    PAGO TOTAL : " + suma+ " PENDIENTE " + temp2;
                                document.getElementById("demo4").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER CMES " +  seg2I  + "    PAGO TOTAL : " + suma2+ " PENDIENTE " + temp3;
                                document.getElementById("demo5").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER QMES " +  seg3I  + "    PAGO TOTAL : " + suma3+ " PENDIENTE " + temp4;
                                document.getElementById("demo6").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg4I  + "    PAGO TOTAL : " + suma4+ " PENDIENTE " + temp5;
                                document.getElementById("demo7").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg5I  + "    PAGO TOTAL : " + suma5+ " PENDIENTE " + temp6;
                                document.getElementById("demo8").innerHTML = "";
                                document.getElementById("demo9").innerHTML = "";
                                document.getElementById("demo10").innerHTML = "";
                                document.getElementById("demo11").innerHTML = "";
                                document.getElementById("demo12").innerHTML = "";
                                document.getElementById("demo13").innerHTML = "";
                                 document.getElementById('demo14').innerHTML = sumaFinal3;
                                }else{
                                    console.log("error");
                                }
                                
                                if(valorM == 4){

                                document.getElementById("demo").innerHTML=  "AC:  " +Pagos;
                                document.getElementById("demo2").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  valorIntereses  + "    PAGO TOTAL : " + valorPagare+ " PENDIENTE " + temp;
                                document.getElementById("demo3").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  segI  + "    PAGO TOTAL : " + suma+ " PENDIENTE " + temp2;
                                document.getElementById("demo4").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER CMES " +  seg2I  + "    PAGO TOTAL : " + suma2+ " PENDIENTE " + temp3;
                                document.getElementById("demo5").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER QMES " +  seg3I  + "    PAGO TOTAL : " + suma3+ " PENDIENTE " + temp4;
                                document.getElementById("demo6").innerHTML = "";
                                document.getElementById("demo7").innerHTML = "";
                                document.getElementById("demo8").innerHTML = "";
                                document.getElementById("demo9").innerHTML = "";
                                document.getElementById("demo10").innerHTML = "";
                                document.getElementById("demo11").innerHTML = "";
                                document.getElementById("demo12").innerHTML = "";
                                document.getElementById("demo13").innerHTML = "";
                                document.getElementById('demo14').innerHTML = sumaFinal2;

                                }else{
                                    console.log("error");
                                }


                                if(valorM == 8){

                                document.getElementById("demo").innerHTML=  "AC:  " +Pagos;
                                document.getElementById("demo2").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  valorIntereses  + "    PAGO TOTAL : " + valorPagare+ " PENDIENTE " + temp;
                                document.getElementById("demo3").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  segI  + "    PAGO TOTAL : " + suma+ " PENDIENTE " + temp2;
                                document.getElementById("demo4").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER CMES " +  seg2I  + "    PAGO TOTAL : " + suma2+ " PENDIENTE " + temp3;
                                document.getElementById("demo5").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER QMES " +  seg3I  + "    PAGO TOTAL : " + suma3+ " PENDIENTE " + temp4;
                                document.getElementById("demo6").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg4I  + "    PAGO TOTAL : " + suma4+ " PENDIENTE " + temp5;
                                document.getElementById("demo7").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg5I  + "    PAGO TOTAL : " + suma5+ " PENDIENTE " + temp6;

                                 document.getElementById("demo8").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg6I  + "    PAGO TOTAL : " + suma6+ " PENDIENTE " + temp7;
                                document.getElementById("demo9").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg7I  + "    PAGO TOTAL : " + suma7+ " PENDIENTE " + temp8;
                                document.getElementById("demo10").innerHTML = "";
                                document.getElementById("demo11").innerHTML = "";
                                document.getElementById("demo12").innerHTML = "";
                                document.getElementById("demo13").innerHTML = "";
                                 document.getElementById('demo14').innerHTML = sumaFinal4;


                                }else{
                                    console.log("error");
                                }


                                if(valorM == 10){

                                document.getElementById("demo").innerHTML=  "AC:  " +Pagos;
                                document.getElementById("demo2").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  valorIntereses  + "    PAGO TOTAL : " + valorPagare+ " PENDIENTE " + temp;
                                document.getElementById("demo3").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  segI  + "    PAGO TOTAL : " + suma+ " PENDIENTE " + temp2;
                                document.getElementById("demo4").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER CMES " +  seg2I  + "    PAGO TOTAL : " + suma2+ " PENDIENTE " + temp3;
                                document.getElementById("demo5").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER QMES " +  seg3I  + "    PAGO TOTAL : " + suma3+ " PENDIENTE " + temp4;
                                document.getElementById("demo6").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg4I  + "    PAGO TOTAL : " + suma4+ " PENDIENTE " + temp5;
                                document.getElementById("demo7").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg5I  + "    PAGO TOTAL : " + suma5+ " PENDIENTE " + temp6;
                                document.getElementById("demo8").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg6I  + "    PAGO TOTAL : " + suma6+ " PENDIENTE " + temp7;
                                document.getElementById("demo9").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg7I  + "    PAGO TOTAL : " + suma7+ " PENDIENTE " + temp8;
                                 document.getElementById("demo10").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg8I  + "    PAGO TOTAL : " + suma8+ " PENDIENTE " + temp9;
                                document.getElementById("demo11").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg9I  + "    PAGO TOTAL : " + suma9+ " PENDIENTE " + temp10;
                                document.getElementById("demo12").innerHTML = "";
                                document.getElementById("demo13").innerHTML = "";
                                 document.getElementById('demo14').innerHTML = sumaFinal5;

                                }else{
                                    console.log("error");
                                }

                                if(valorM == 12){

                                document.getElementById("demo").innerHTML=  "AC:  " +Pagos;
                                document.getElementById("demo2").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  valorIntereses  + "    PAGO TOTAL : " + valorPagare+ " PENDIENTE " + temp;
                                document.getElementById("demo3").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  segI  + "    PAGO TOTAL : " + suma+ " PENDIENTE " + temp2;
                                document.getElementById("demo4").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER CMES " +  seg2I  + "    PAGO TOTAL : " + suma2+ " PENDIENTE " + temp3;
                                document.getElementById("demo5").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER QMES " +  seg3I  + "    PAGO TOTAL : " + suma3+ " PENDIENTE " + temp4;
                                document.getElementById("demo6").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg4I  + "    PAGO TOTAL : " + suma4+ " PENDIENTE " + temp5;
                                document.getElementById("demo7").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg5I  + "    PAGO TOTAL : " + suma5+ " PENDIENTE " + temp6;
                                document.getElementById("demo8").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg6I  + "    PAGO TOTAL : " + suma6+ " PENDIENTE " + temp7;
                                document.getElementById("demo9").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  seg7I  + "    PAGO TOTAL : " + suma7+ " PENDIENTE " + temp8;
                                document.getElementById("demo10").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER CMES " +  seg8I  + "    PAGO TOTAL : " + suma8+ " PENDIENTE " + temp9;
                                document.getElementById("demo11").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER QMES " +  seg9I  + "    PAGO TOTAL : " + suma9+ " PENDIENTE " + temp10;
                                document.getElementById("demo12").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg10I  + "    PAGO TOTAL : " + suma10+ " PENDIENTE " + temp11;
                                document.getElementById("demo13").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg11I  + "    PAGO TOTAL : " + suma11+ " PENDIENTE " + temp12;
                                document.getElementById('demo14').innerHTML = sumaFinal6;
                                }else{
                                    console.log("error");
                                }
                                
                                


                                
                        }
                    
                                

                                     



    div(class='row')
            div(class='col-md-8 offset-md-2 mt-5')
                //- if message.length > 0
                //-     div.alert.alert-success.alert-dismissible.fade.show(role="alert")=message
                //-         button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                //-             span(aria-hidden="true") &times;
                div.card.border-info
                    div.card-header.text-center Generar Plan de Pagos Final
                        
                    div.card-body
                        form(method="post" action="/users/panel2")
                            
                            div.form-row

                                div.form-group.col-md-12
                                    label(for='asunto') Nombre o Asunto:
                                        
                                    input#asunto.form-control(type='asunto' name="asunto")

                                div.form-group.col-md-12
                                    label(for='email') Email Deudor
                                        
                                    input#email.form-control(type='email' name="email")

                                div(class="form-group col-md-12")

                                    label(for="descripcion") Descripción o Mensaje

                                    textarea(class="form-control" id="descripcion" rows="3" name="descripcion")

                            button.btn.btn-primary(type="submit") Enviar Correo