extends ../templates/default
block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='#') Users
        li.breadcrumb-item.active Modificar Cuenta
    H3.mt-5.text-center MODIFICAR DATOS

    div(class='row')
            div(class='col-md-8 offset-md-2 mt-5')

                    div.card-header.text-center Actualizar Cuenta
                        
                    div.card-body

                        form(method="post" action="/users/editar")
                            
                            div.form-row
                                div.form-group.col-md-6
                                    label(for='nombre') Nombre
                                        
                                    input#nombre.form-control(type='text' name="nombre" value="#{data[0].nombre}")
                                
                                div.form-group.col-md-6
                                    label(for='telcont') Telefono
                                        
                                    input#telcont.form-control(type='text' name="telcont" value="#{data[0].Telefono}")
                                     
                                div.form-group.col-md-6
                                    label(for='agente') Agente
                                        
                                    input#agente.form-control(type='text' name="agente" value="#{user.idAgente}" readonly)

                                div.form-group.col-md-6
                                    label(for='domicilio') Domicilio

                                    input#domicilio.form-control(type='text' value="#{data[0].Domicilio}" name="domicilio")
                               
                                
                                
                            button.btn.btn-primary(type='submit') Actualizar Informacion
                            