extends ../templates/default
block content


    div(class='row')
        div(class='col-md-8 offset-md-2 mt-5')
            div.card
                div.card-header.text-center Sesion del Deudor
                        
                div.card-body
                    form(method="post" action="/users/consulta")
                            
                        div.form-row.text-center
                            div.form-group.col-md-6
                                label(for='fecha') Fecha
                                        
                                input#fecha.form-control(type='date' name="fecha")

                            div.form-group.col-md-6
                                label(for='hora') Hora

                                input#hora.form-control(type='time' name="hora")
                                     
                            div.form-group.col-md-6
                                label(for='agente') Agente
                                        
                                input#agente.form-control(type='text' name="agente" value="#{user.idAgente}")
                               
                            div(class="form-group col-md-12")
                                label(for="descripcion") Descripción

                                textarea(class="form-control" id="descripcion" rows="3" name="descripcion")

                            input#cliente.form-control(type='hidden' name="cliente" value="#{data[0].idDeudor}")
                                      
                        button.btn.btn-primary(type='submit') Generar Sesión

    hr
    main(role="main")
        div.container.marketing
            div.row.center
                div.col-lg-4(style="text-align:center;")
                    img.rounded-circle(src='https://cdn0.iconfinder.com/data/icons/connection/512/icon-16.png', alt='Generic placeholder image', width='140', height='140')
                                
                    h2 Deudor encontrado
                                
                    p.text-secondary Agendar pagos
                                
                
                div.col-lg-4(style="text-align:center;")
                    img.rounded-circle(src='https://cdn0.iconfinder.com/data/icons/connection/512/icon-1.png', alt='Generic placeholder image', width='140', height='140')
                                
                    h2 Deudor no encontrado
                                
                    p.text-secondary Cambio de Propietario
                                
                
                div.col-lg-4(style="text-align:center;")
                    img.rounded-circle(src='https://cdn0.iconfinder.com/data/icons/connection/512/icon-8.png', alt='Generic placeholder image', width='140', height='140')
                                
                    h2 Deudor no encontrado
                                
                    p.text-secondary Eliminar número actual
                                
                