extends templates/default
 
block content
  h1.text-center.mt-5 Pagina de Inicio

    div.container.col-sm-10.mt-5
      h4.text-center Proyecto FINAL
                
      h6.text-center Flores Ornelas Hannia Melissa 256910
                
      h6.text-center Mendoza Trejo Lizeth Ailet 228378
                
      h6.text-center Pe&ntilde;a Hern&aacute;ndez Ana Laura 256909
    
    .album.py-5.bg-light
      .container
        .row
          .col-md-6
            .card.mb-4.shadow-sm
              img.card-img-top(src='https://image.flaticon.com/icons/svg/1041/1041888.svg', alt='Card image cap'  height='200px')
              .card-body
                p.card-text
                  h6 EXISTEN DIVERSAS FUNCIONES PARA CADA CLIENTE DEUDOR
                


          .col-md-6
            .card.mb-4.shadow-sm
              img.card-img-top(src='https://image.flaticon.com/icons/svg/265/265674.svg', alt='Card image cap' height='200px')
              .card-body
                p.card-text
                  h6 EL ADMINISTRADOR, ES EL ENCARGADO DE LLEVAR EL CONTROL Y LA ADMINISTRACIÓN DE LA EMPRESA
                



    if isAuthenticated
      p= 'Bienvenido  ' + user.nombre
  
