extends ../templates/default

block content
    br
    h2.mt-2.pl-2 AGENTE
    br
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') Agregar un nuevo agente
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#')
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#')
        li.nav-item
          a.nav-link(href='#')
      a.btn.btn-success(href="http://localhost:3000/users/Nagentes")  Agregar

    table.table.table-bordered.table-hover.mt-5
            thead(style="")
                tr
                    th Email
                    th Nombre
                    th Domicilio
                    th Telefono
                    th Actions
            tbody(style="")
            -each val in data
                 tr(style="font-size: 10px;")
                    td #{val.email}
                    td #{val.nombre}
                    td #{val.Domicilio}
                    td #{val.Telefono}
                    td
                        a.btn.btn-info(href="http://localhost:3000/users/UpAgente")  Update
                        br 
