extends ../templates/default

block content
    br
    h2.mt-2.pl-2 Pagos
    br

    table.table.table-bordered.table-hover.mt-5
            thead(style="")
                tr
                    th Deudor
                    th Deuda
                    th Deuda Actual
                    th Fecha Deuda Actual
                    th Fecha Proximo Pago
                    th Fecha Ultimo Pago
                    th Sucursal
                    th Meses
                    th Pago
                    th Intereses
                    th Monto
                    th Saldos Insolutos

            tbody(style="")
            -each val in data
                 tr(style="font-size: 10px;")
                    td #{val.Deudor}
                    td #{val.deuda}
                    td #{val.DeudaActual}
                    td #{val.FechaDeudaActual}
                    td #{val.FechaProximoPago}
                    td #{val.FechaUltimoPago}
                    td #{val.Sucursales}
                    td #{val.Meses}
                    td #{val.pago}
                    td #{val.Intereses}
                    td #{val.Monto}
                    td #{val.SaldosInsolutos}


