extends ../templates/default
block content


    div(class='row')
            div(class='col-md-8 offset-md-2 mt-5')
                //- if message.length > 0
                //-     div.alert.alert-success.alert-dismissible.fade.show(role="alert")=message
                //-         button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                //-             span(aria-hidden="true") &times;
                div.card
                    div.card-header.text-center Sesion del Deudor

                    div.card-body
                        form(action="http://localhost:3000/users/consulta" method="post")

                            div.form-row
                                div.form-group.col-md-6
                                    label(for='inputEmail4') Email

                                    input#inputEmail4.form-control(type='email', placeholder='Email')

                                div.form-group.col-md-6
                                    label(for='inputPassword4') Password

                                    input#inputPassword4.form-control(type='password', placeholder='Password')

                            div.form-group
                                label(for='inputAddress') Address

                                input#inputAddress.form-control(type='text', placeholder='1234 Main St')


                            div.form-row
                                div.form-group.col-md-6
                                    label(for='inputCity') City

                                    input#inputCity.form-control(type='text')

                                div.form-group.col-md-4
                                    label(for='inputState') State

                                    select#inputState.form-control
                                        option(selected='') Choose...

                                        option ...

                                div.form-group.col-md-2
                                    label(for='inputZip') Zip

                                    input#inputZip.form-control(type='text')


                            button.btn.btn-primary(type='submit') Generar Sesión


                //- if authmessage.length > 0
                //-     div.alert.alert-danger.alert-dismissible.fade.show(role="alert")=authmessage
                //-         button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                //-             span(aria-hidden="true") &times;
