extends ../templates/default

block content
    br
    h2.mt-2.pl-2 Sesiones
    br

    table.table.table-bordered.table-hover.mt-5
            thead(style="")
                tr
                    th Agente
                    th Fecha
                    th Deudor
                    th Comentarios

            tbody(style="")
            -each val in data
                 tr(style="font-size: 10px;")
                    td #{val.Agente}
                    td #{val.Fecha}
                    td #{val.Deudor}
                    td #{val.comentarios}

                    
