extends ../templates/default
block content


    div(class='row')
            div(class='col-md-8 offset-md-2 mt-5')

                div.card
                    div.card-header.text-center Agregar un nuevo Agente
                        
                    div.card-body
                        form(method="post" action="/users/Nagentes")
                            
                            div.form-row

                                div.form-group.col-md-6
                                    label(for='email') Email
                                        
                                    input#agente.form-control(type='text' name="email")

                                .form-group
                                div.form-group.col-md-6
                                    label(for='nombre') Nombre
                                        
                                    input#agente.form-control(type='text' name="nombre")                               

                                div.form-group.col-md-6
                                    label(for='telefono') Telefono
                                        
                                    input#fecha.form-control(type='text' name="telefono")
                                                               
                                div(class="form-group col-md-12")
                                    label(for="domicilio") Direccion
                                    textarea(class="form-control" id="direccion" rows="3" name="direccion")
                                
                                
                            button.btn.btn-primary(type='submit') Aceptar


                                
                