nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='#') SISTEMA RECUPERADORES DE CARTERA
         
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
         
      div#navbarColor01.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
               Home 
              span.sr-only (current)

          if !isAuthenticated
                 
            li.nav-item
              a.nav-link(href='#') Inicio
                  
            li.nav-item
              a.nav-link(href='http://localhost:3000/auth/signup') Registrarse
                  
            li.nav-item
              a.nav-link(href='http://localhost:3000/auth/signin') Login
          if isAuthenticated

            li.nav-item
              a.nav-link(href='http://localhost:3000/users/panel') Inicio
            li.nav-item.mr-2.mr-lg-0
              a.nav-item.nav-link(href='#')=user.nombre

                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    Mas
              
                  div.dropdown-menu(aria-labelledby="navbarDropdown")
                    a.dropdown-item(href="http://localhost:3000/users/panel") Perfil
                    a.dropdown-item(href="http://localhost:3000/auth/logout") Cerrar Sesión 

            


//- nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
//-     //- Navbar content
//-     a.navbar-brand(href='') SISTEMA DE AGENTES DE CUENTA
//-     button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
//-       span.navbar-toggler-icon 
          
//-     div.collapse.navbar-collapse(id="navbarText")
//-       div.navbar-nav
//-           a.nav-item.nav-link.active(href='#')
//-             Home 
//-             span.sr-only (current)

//-           a.nav-item.nav-link(href='http://localhost:3000/users/panel') Inicio

//-           if !isAuthenticated

//-             a.nav-item.nav-link(href='http://localhost:3000/auth/signup') Registrarse

//-             a.nav-item.nav-link(href='http://localhost:3000/auth/signin') Login
          
//-           if isAuthenticated
//-             a.nav-item.nav-link(href='#')=user.nombre

//-             li.nav-item.dropdown
//-               a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" 
  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
//-                 Mas
          
//-               div.dropdown-menu(aria-labelledby="navbarDropdown")
//-                 a.dropdown-item(href="http://localhost:3000/users/panel") Perfil
//-                 a.dropdown-item(href="http://localhost:3000/auth/logout") Cerrar Sesión 

