extends ../templates/default
block content


    div(class='row')
            div(class='col-md-8 offset-md-2 mt-5')

                div.card
                    div.card-header.text-center Agregar un nuevo deudor

                    div.card-body
                        form(method="post" action="/users/Ndeudores")
                            
                            div.form-row

                                div.form-group.col-md-6
                                    label(for='nombre') Nombre
                                        
                                    input#agente.form-control(type='text' name="nombre")

                                div.form-group.col-md-6
                                    label(for='nCliente') Número de cliente
                                        
                                    input#agente.form-control(type='text' name="nCliente")

                                div.form-group.col-md-6
                                    label(for='rfc') RFC

                                    input#hora.form-control(type='text' name="rfc")        

                                .form-group
                                div.form-group.col-md-6
                                    label(for='region') Region
                                    select#regiones.form-control(name="region")
                                        -each val in data      
                                            option(value="#{val.idRegion}") #{val.Nombre}                               

                                div.form-group.col-md-6
                                    label(for='telefonoC') Telefono Contacto
                                        
                                    input#fecha.form-control(type='text' name="telefonoC")

                                div.form-group.col-md-6
                                    label(for='telefonoM') Telefono Móvil
                                        
                                    input#fecha.form-control(type='text' name="telefonoM")
                                                                
                                div(class="form-group col-md-12")
                                    label(for="referencia") Referencia
                                    textarea(class="form-control" id="direccion" rows="3" name="referencia")                                     
                                
                                
                            button.btn.btn-primary(type='submit') Aceptar


                                
                