extends ../templates/default
block content


    div(class='row')
            div(class='col-md-8 offset-md-2 mt-5')
                //- if message.length > 0
                //-     div.alert.alert-success.alert-dismissible.fade.show(role="alert")=message
                //-         button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                //-             span(aria-hidden="true") &times;
                div.card
                    div.card-header.text-center PAGOS DE LOS CLIENTES
                        
                    div.card-body
                        form(action="" method="post")
                            
                            div.form-row
                                div.form-group.col-md-6
                                    label(for='fecha') Fecha
                                        
                                    input#fecha.form-control(type='date' name="fecha")
                                     
                                div.form-group.col-md-6
                                    label(for='agente') Agente
                                        
                                    input#agente.form-control(type='text' name="agente" value="")
                               
                                div(class="form-group col-md-12")
                                    label(for="descripcion") Descripción
                                    textarea(class="form-control" id="descripcion" rows="3" name="descripcion")
                                
                                
                            button.btn.btn-primary(type='submit') Generar Sesión

                
                //- if authmessage.length > 0
                //-     div.alert.alert-danger.alert-dismissible.fade.show(role="alert")=authmessage
                //-         button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                //-             span(aria-hidden="true") &times;