extends ../templates/default

block content
    br
    h2.mt-2 DEUDORES
        hr
        div.container.mt-5
            div.row
                div.col-md-7
                    -if(locals.length)
                        table.table.table-bordered.table-hover
                            thead
                                tr
                                    td n°
                                    td Name
                                    td Address
                                    td Phone
                                    td Actions
                            -each val in data
                                tr
                                    td #{val.idDeudor}
                            
                        

        //- div.container.mt-5
        //-     div.row
        //-         div.col-md-5
        //-             table.table.table-bordered.table-hover
        //-                 thead
        //-                     tr
        //-                         td Name
        //-                         td Numero Cliente
        //-                         td Region
        //-                         td Telefono C
        //-                         td Telefono M
        //-                         td Pago
        //-                         td Fecha Deuda
        //-                         td Fecha Vencimiento
        //-                         td Actions
        //-                 tbody
        //-                     tr
        //-                         td


                                
    
