extends ../templates/default

block content
    br
    h2.mt-2.pl-2 SUCURSALES
    br


    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') Agregar una nueva sucursal
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#')
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#')
        li.nav-item
          a.nav-link(href='#')
      a.btn.btn-success(href="http://localhost:3000/users/Nsucursaless")  Agregar

    table.table.table-bordered.table-hover.mt-5
            thead(style="")
                tr
                    th Nombre
                    th Direccion
                    th Telefono
                    th Horario
                    th Region
                    th Actions

            tbody(style="")
            -each val in data
                 tr(style="font-size: 10px;")
                    td #{val.Nombre}
                    td #{val.Direccion}
                    td #{val.Telefono}
                    td #{val.Horario}
                    td #{val.Region}
                    td
                        a.btn.btn-info(href="http://localhost:3000/users/UpSucursales")  Update
                        br 
