extends ../templates/default
block content


    div(class='row')
            div(class='col-md-8 offset-md-2 mt-5')

                div.card
                    div.card-header.text-center Agregar una nueva sucursal
                        
                    div.card-body
                        form(method="post" action="/users/UpSucursales")
                            
                            div.form-row

                                div.form-group.col-md-6
                                    label(for='nombre') Nombre
                                        
                                    input#agente.form-control(type='text' name="nombre" value="Aguascalientes Ameericas")

                                .form-group
                                div.form-group.col-md-6
                                    label(for='region') Region
                                    select#regiones.form-control(name="region")
                                        -each val in data      
                                            option(value="#{val.idRegion}") #{val.Nombre}                               

                                div.form-group.col-md-6
                                    label(for='telefono') Telefono
                                        
                                    input#fecha.form-control(type='text' name="telefono" value="9133504")

                                div.form-group.col-md-6
                                    label(for='hora') Horario

                                    input#hora.form-control(type='time' name="horario" value="9:00am - 16:00pm")
                                     
                                                               
                                div(class="form-group col-md-12")
                                    label(for="descripcion") Direccion
                                    textarea(class="form-control" id="direccion" rows="3" name="direccion" value="Av Convencion	")
                                
                                
                            button.btn.btn-primary(type='submit') Aceptar


                                
                